<ion-view view-title="Calculators">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
      <div class="content">
          <div class="list animate-fade-slide-in-right stable-bg">
              <a href="#/app/profile" class="item item-avatar item-icon-right">
                  <img src="img/distribution-transformer.jpg">
                  <h2>Transformer Full Load Currents</h2>
                  <p>Full Load Current Ratings of Self-Cooled Transformers</p>
              </a>
          </div>
      </div>
    </ion-content>
</ion-view>
