<ion-view view-title="Ampacity Ratings">
  <ion-content>
    <div class="content">
      <div class="list card">
          <div class="item item-avatar">
            <img src="img/distribution-transformer.jpg">
            <ion-toggle ng-model="singlePhase" toggle-class="toggle-balanced">Single Phase</ion-toggle>
            <ion-toggle ng-model="!singlePhase" toggle-class="toggle-balanced">Three Phase</ion-toggle>
          </div>
          <!-- <a class="item item-icon-left" href="#">
            <i class="icon ion-arrow-graph-up-right"></i>
            Circular Mil
            <span class="badge badge-assertive">{{selectedWire.circularMil}} mm</span>
          </a>
          <a class="item item-icon-left" href="#">
            <i class="icon ion-arrow-graph-up-right"></i>
            Diameter Mil
            <span class="badge badge-assertive">{{selectedWire.diameterMil}} mm</span>
          </a>
          <a class="item item-icon-left" href="#">
            <i class="icon ion-arrow-graph-up-right"></i>
            Area
            <span class="badge badge-assertive">{{selectedWire.area}} mm&sup2;</span>
          </a>
          <a class="item item-icon-left" href="#">
            <i class="icon ion-arrow-graph-up-right"></i>
            Diameter
            <span class="badge badge-assertive">{{selectedWire.diameter}} mm</span>
          </a> -->
      </div>

    </div>
    </div>

  </ion-content>
</ion-view>
