<ion-view view-title="Conductors">
  <ion-content>
    <div class="content">
      <div class="list card">
          <div class="item item-avatar">
            <img src="img/wire-gauge.jpg">
            <label class="item item-input item-select">
              <div class="input-label">
                AWG
              </div>
            <select ng-model="selectedWire" ng-options="wire as wire.awg for wire in wires"></select>
          </div>
      </div>
      <div class="card" ng-show="selectedWire!=null">
        <div class="item item-divider">
          Physical Dimensions
        </div>

        <div class="row header">
          <div class="col">Circular Mil</div>
          <div class="col">Diameter Mil</div>
          <div class="col">Area</div>
          <div class="col">Diameter</div>
        </div>
        <div class="row">
          <div class="col">{{selectedWire.circularMil}} mm</div>
          <div class="col">{{selectedWire.diameterMil}} mm</div>
          <div class="col">{{selectedWire.area}} mm&sup2;</div>
          <div class="col">{{selectedWire.diameter}} mm</div>
        </div>
      </div>
      <div class="card" ng-show="selectedWire!=null">
        <div class="item item-divider">
          Pounds Per Feet (Bare Conductors)
        </div>
        <div class="row header">
          <div class="col">Aluminium</div>
          <div class="col">ACSR</div>
          <div class="col">Copper</div>
        </div>
        <div class="row">
          <div class="col">{{selectedWire.weight.bare.al}}</div>
          <div class="col">{{selectedWire.weight.bare.ascr}}</div>
          <div class="col">{{selectedWire.weight.bare.cu}}</div>
        </div>
      </div>
      <div class="card" ng-show="selectedWire!=null">
        <div class="item item-divider">
          Ampacity Ratings
        </div>
        <div class="item item-divider">
          Bare Conductors
        </div>
        <div class="row header">
          <div class="col">Aluminium</div>
          <div class="col">ACSR</div>
          <div class="col">Copper</div>
        </div>
        <div class="row">
          <div class="col">{{selectedWire.weight.bare.al}}</div>
          <div class="col">{{selectedWire.weight.bare.ascr}}</div>
          <div class="col">{{selectedWire.weight.bare.cu}}</div>
        </div>
      </div>
      <div class="card" ng-show="selectedWire!=null">
        <div class="item item-divider">
          Overhead Service Conductors
        </div>
        <div class="row header">
          <div class="col">Duplex</div>
          <div class="col">Triplex</div>
          <div class="col">Quadraplex</div>
        </div>
        <div class="row">
          <div class="col">{{selectedWire.weight.bare.al}}</div>
          <div class="col">{{selectedWire.weight.bare.ascr}}</div>
          <div class="col">{{selectedWire.weight.bare.cu}}</div>
        </div>
      </div>
    </div>
    </div>

  </ion-content>

</ion-view>
