<ion-view view-title="Pocket Guide">
  <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
    <div class="content">
        <div class="list animate-fade-slide-in-right">
            <a href="#/app/conductorsPhysicalDimensions" class="item item-avatar item-icon-right">
                <img src="img/conductors.jpg">
                <h2>Physical Dimensions</h2>
                <p>Physical dimensions, ampacity ratings and more</p>
            </a>
            <a href="#/app/profile" class="item item-avatar item-icon-right">
                <img src="img/distribution-transformer.jpg">
                <h2>Ampacity Ratings</h2>
                <p>kVA Ratings</p>
            </a>
        </div>
    </div>

  </ion-content>
</ion-view>
