<ion-view view-title="Conversion Tables">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
      <div class="content">
          <div class="list animate-fade-slide-in-right light-bg">
              <a href="#/app/profile" class="item item-avatar item-icon-right">
                  <img src="img/wire-gauge.jpg">
                  <h2>American Wire Gauges</h2>
                  <p>Standard Wire Gauge used since 1857 throughout North America</p>
              </a>
          </div>
      </div>

    </ion-content>
</ion-view>
