<ion-view view-title="Max Use Voltages">
  <ion-content ng-class="{expanded:$scope.isExpanded}">
    <div class="list card">

      <div class="item">
        <h2>Max Use Voltage</h2>
        <p>Color Codes</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/fadedBar.png">
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p>
      </div>

    </div>
  </ion-content>
</ion-view>
