<ion-view view-title="Hot Sticks">
  <ion-content ng-class="{expanded:$scope.isExpanded}">
    <div class="list card">

      <div class="item">
        <h2>Hot Sticks</h2>
        <p>Test Frequency</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/hotSticks.jpg">

        <div class="list">
          <a class="item" href="#">
            <h2>Before every issue.</h2>
          </a>
          <a class="item" href="#">
            <h2>Every 2 years thereafter.</h2>
          </a>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
