<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear icon ion-navicon flat" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="fabContent"></ion-nav-view>
        <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}" ></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="dark-bg expanded">
            <span class="avatar" style="background: url('img/crown.jpg'); background-size: cover;"></span>
            <h2>E-Lineman</h2>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header">
            <ion-list>
                <ion-item nav-clear menu-close ui-sref="app.conductors">
                    Conductors
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.distributionTransformers">
                    Transformers
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.wiringDiagrams">
                    Transformer Wirings
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.poles">
                    Poles
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.ropes">
                    Ropes
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.tools">
                    Tools
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.formulas">
                    Formulas
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
