<ion-view view-title="e-Lineman">
  <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
    <div class="content">
        <div class="list animate-fade-slide-in-right">
            <a href="#/app/conductors" class="item item-avatar item-icon-right">
                <img src="img/conductors.jpg">
                <h2>Conductors</h2>
                <p>Physical dimensions, ampacity ratings and more</p>
            </a>
            <a href="#/app/distributionTransformers" class="item item-avatar item-icon-right">
                <img src="img/distribution-transformer.jpg">
                <h2>Transformer Power Ratings</h2>
                <p>kVA Ratings</p>
            </a>
            <a href="#/app/wiringDiagrams" class="item item-avatar item-icon-right">
                <img src="img/transformers_wiring_diagrams.png">
                <h2>Transformer Wirings</h2>
                <p>Wiring Diagrams</p>
            </a>
            <a href="#/app/poleWeights" class="item item-avatar item-icon-right">
                <img src="img/electric-poles.jpg">
                <h2>Poles</h2>
                <p>Pole Weights</p>
            </a>
            <a href="#/app/distributionTransformers" class="item item-avatar item-icon-right">
                <img src="img/ropes.jpg">
                <h2>Ropes</h2>
                <p>Rope Capacities/Knot Efficiencies</p>
            </a>
            <a href="#/app/tools" class="item item-avatar item-icon-right">
                <img src="img/lineman-equipment.jpg">
                <h2>Tools/Equipment</h2>
                <p>Live Line Work Tools/Equipments</p>
            </a>
            <a href="#/app/formulas" class="item item-avatar item-icon-right">
                <img src="img/formula-wheel.jpg">
                <h2>Formulas</h2>
                <p>Doing the math</p>
            </a>
        </div>
    </div>

  </ion-content>
</ion-view>
