<ion-view view-title="Pocket Guide">
  <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
    <div class="content">
        <div class="list animate-fade-slide-in-right light-bg">
            <a href="#/app/profile" class="item item-avatar item-icon-right">
                <img src="img/conductors.jpg">
                <h2>Conductors</h2>
                <p>Physical dimensions, ampacity ratings and more</p>
            </a>
        </div>
        <div class="list animate-fade-slide-in-right stable-bg">
            <a href="#/app/profile" class="item item-avatar item-icon-right">
                <img src="img/distribution-transformer.jpg">
                <h2>Transformers</h2>
                <p>kVA Ratings</p>
            </a>
        </div>
        <div class="list animate-fade-slide-in-right light-bg">
            <a href="#/app/profile" class="item item-avatar item-icon-right">
                <img src="img/lineman-equipment.jpg">
                <h2>Tools/Equipment</h2>
                <p>Live Line Work Tools/Equipments</p>
            </a>
        </div>
        <div class="list animate-fade-slide-in-right stable-bg">
            <a href="#/app/profile" class="item item-avatar item-icon-right">
                <img src="img/formula-wheel.jpg">
                <h2>Formulae</h2>
                <p>Doing the math</p>
            </a>
        </div>
    </div>

  </ion-content>
</ion-view>
