<ion-view view-title="Test Frequencies">
  <ion-content ng-class="{expanded:$scope.isExpanded}">
    <div class="list">
      <a class="item item-thumbnail-left item-thumbnail-left-block" href="#">
        <img src="img/rubberGloves.jpg">
        <h2>Rubber Gloves</h2>
        <p>Before every issue</p>
        <p>Every 2 years thereafter.</p>
      </a>
      <a class="item item-thumbnail-left" href="#">
        <img src="img/rubberSleeves.jpg">
        <h2>Rubber Sleeves</h2>
        <p>Before every issue</p>
        <p>Every 2 years thereafter.</p>
      </a>
      <a class="item item-thumbnail-left" href="#">
        <img src="img/hotSticks.jpg">
        <h2>Hot Sticks</h2>
        <p>Before every issue</p>
        <p>Every 2 years thereafter.</p>
      </a>
      <a class="item item-thumbnail-left" href="#">
        <img src="img/coverUpEquipment.jpg">
        <h2>Cover-up Equipment</h2>
        <p>Before every issue</p>
        <p>Every 2 years thereafter.</p>
      </a>
    </div>
  </ion-content>
</ion-view>
