<ion-view view-title="Live Line Tools/Equipment">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
      <div class="list">

        <a class="item item-icon-left" ui-sref="app.equipmentColorCodes">
          <i class="icon ion-email"></i>
          Max Use Voltages
          <span class="item-note">
            Color Codes
          </span>
        </a>

        <a class="item item-icon-left" ui-sref="app.testFrequencies">
          <i class="icon ion-chatbubble-working"></i>
          Test Frequencies
        </a>

      </div>
    </ion-content>
</ion-view>
