<ion-view view-title="Live Line Tools/Equipment">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
      <div class="list">

        <a class="item item-icon-left" ui-sref="app.colorCodes">
          <i class="icon ion-email"></i>
          Max Use Voltages
          <span class="item-note">
            Color Codes
          </span>
        </a>

        <a class="item item-icon-left" ui-sref="app.rubberGloves">
          <i class="icon ion-chatbubble-working"></i>
          Rubber Gloves
        </a>

        <a class="item item-icon-left" ui-sref="app.hotSticks">
          <i class="icon ion-mic-a"></i>
          Hot Sticks
        </a>

        <a class="item item-icon-left" ui-sref="app.rubberSleeves">
          <i class="icon ion-person-stalker"></i>
          Rubber Sleeves/Equipment
        </a>

        <a class="item item-icon-left" ui-sref="app.rubberCoverUp">
          <i class="icon ion-person-stalker"></i>
          Rubber/Plastic Cover Up Equipment
        </a>

      </div>
    </ion-content>
</ion-view>
