<ion-view view-title="Formulas">
  <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
    <div class="content">
      <div class="list card animate-fade-slide-in-right">
        <div class="item item-body">
          <img class="full-image" src="img/ohmsLawPowerCircle.png">
          <p>
            <strong>The Ohm's Law Pie Chart</strong> -
            The relationship between Voltage, Current and Resistance
            in any DC electrical circuit was firstly discovered by the
            German physicist Georg Ohm.
            Ohm found that, at a constant temperature, the electrical
            current flowing through a fixed linear resistance is directly
            proportional to the voltage applied across it, and also
            inversely proportional to the resistance.
            This relationship between the Voltage, Current and Resistance
            forms the basis of Ohms Law.<br/><br/>
          </p>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
