<ion-view view-title="Wiring Diagrams">
  <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
    <div class="content">
      <div class="list card animate-fade-slide-in-right">
        <h4 align="center">Delta Primary</h4>
        <img class="full-image" src="img/transformerWirings-deltaPrimary.png">
      </div>
      <div class="list card animate-fade-slide-in-right">
        <h4 align="center">Wye Primary</h4>
        <img class="full-image" src="img/transformerWirings.png">
      </div>
      <div class="list card animate-fade-slide-in-right">
        <h4 align="center">Delta Secondary</h4>
        <img class="full-image" src="img/transformerWirings.png">
      </div>
      <div class="list card animate-fade-slide-in-right">
        <h4 align="center">Wye Secondary</h4>
        <img class="full-image" src="img/transformerWirings.png">
      </div>
    </div>
  </ion-content>
</ion-view>
